.hid{ display: none; }

img {
    -webkit-user-select: none;
    user-select: none;
}

.box {
    position: relative;
    background-color: #eee;
    height: 100%;
    overflow: hidden
}
.box_bd .box_hd .lt_item{ overflow: hidden; margin-bottom: 16px;}

.box_hd {
    text-align: center;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    line-height: 30px
}
.box_hd .title_wrap {
    position: relative;
    padding: 10px 0;
    margin: 0 19px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #EEE;
    z-index: 1024
}

.box_hd .title {
    font-weight: 400;
    height: 25px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}
.box_hd .title .title_name {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-decoration: none;
    color: #000;
    font-weight: 400
}

.message {
    float: left;
    width: 100%;
    padding:0 19px;
    margin-bottom: 16px;
}
.message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    cursor: pointer
}

.message .nickname {
    font-weight: 400;
    padding-left: 10px;
    font-size: 12px;
    height: 22px;
    line-height: 24px;
    color: #4f4f4f;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.message .content {
    overflow: hidden
}
.message.you{ text-align: left; }
.message.me {
    float: right;
    text-align: right;
    clear: right
}

.message.me .avatar {
    float: right
}

.message.me .content {
    overflow: hidden
}

.bubble {
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px;

}

.bubble_cont {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 25px
}

.bubble.bubble_default {
    background-color: #fff
}

.bubble:before,.bubble:after {
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " "
}

.bubble.left:before,.bubble.left:after {
    right: 100%
}

.bubble.left:after {
    border-right-color: #FFF;
    border-right-width: 4px
}

.bubble.right:before,.bubble.right:after {
    left: 100%
}

.bubble_cont .plain {
    padding: 6px 11px
}

.bubble_cont .plain .ico_loading {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -7px;
    margin-right: 13px
}

.bubble_cont .plain .ico_fail {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -11px;
    margin-right: 9px;
    cursor: pointer
}
.bubble.bubble_primary{
	background-color:#b2e281 ;
}
.bubble.bubble_primary.right:after {
    border-left-color: #b2e281;
    border-left-width: 4px
}

.scroll-wrapper {
    overflow: hidden!important;
    padding: 0!important;
    position: relative
}

.scroll-wrapper>.scroll-content {
    border: 0!important;
    box-sizing: content-box!important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none!important;
    max-width: none!important;
    overflow: scroll!important;
    padding: 0;
    position: relative!important;
    top: 0;
    width: auto!important;

     margin-bottom: 0px;
    margin-right: 0px;
    height:512px;
}

/*.scroll-wrapper>.scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0
}*/

.chat .scroll-wrapper .box_hd{ padding: 0 0; overflow: hidden;}

.message_system {
    text-align: center;
    margin: 10px auto;
    max-width: 50%;
    -webkit-user-select: none;
    user-select: none;
}
.message_system .content {
    display: inline-block;
    background-color: #dcdcdc;
    font-size: 12px;
    padding: 1px 18px;
    color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}


.chat .box_ft {
    height: 179px;
    padding: 0 7px;
    border-top: 1px solid #d6d6d6
}

.chat .box_ft .toolbar {
    padding: 5px 5px 5px 0;
}
.chat .box_ft .button{ width:40px; height: 30px; display: inline-block; vertical-align:middle; color:#333;  font-size: 14px; border:1px solid #ccc; text-align: center; line-height: 30px; border-radius: 5px;}

.chat .box_ft .content .flex {
    height: 6em;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 0;
    border: 0;
    font-size: 14px;
    display: block;
    width:100%;
    background: #eee;
    font-family: "微软雅黑", "Microsoft Yahei";
    resize:none;
}

.chat .box_ft .content .flex.ant-input:focus {
    box-shadow: none;
}
.chat .box_ft .content img {
    vertical-align: middle
}

.chat .box_ft .action {
    text-align: right;
    margin-top: 5px
}
.chat .box_ft .action .btn {
    background-color: #fff;
    color: #222;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}
.btn {
    display: inline-block;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px 20px;
    font-size: 14px
}

.ngdialog {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.ngdialog-overlay {
    position: fixed;
    background: rgba(0,0,0,.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein .1s;
    animation: ngdialog-fadein .1s
}
.ngdialog.default .ngdialog-content {
    background: #fff;
    border-radius: 5px;
    color: #444;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 450px;
    /* height: 320px;
    left:50%;
    top:50%;
    margin-left: -225px;
    margin-top: -160px; */

}
.dialog_hd .title {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 14px
}

.chatroom_topic.ngdialog.default .ngdialog-content {
    width: 400px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px
}


.ngdialog,.ngdialog *,.ngdialog :before,.ngdialog :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.image_preview .dialog_bd .img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%
}

.dialog_ft {
    border-top: 1px solid #f1f1f1;
    overflow: hidden;
    text-align: center;
    font-size: 0;
    padding-top: 10px
}

.dialog_ft .btn {
    margin-left: 16px;
    margin-top: 10px
}
.btn_default {
    background-color: #c9c9c9;
    color: #fff;
    padding-left: 70px;
    padding-right: 70px;
    border: 0 none
}

.btn_primary {
    background-color: #3caf36;
    color: #fff;
    border: 0 none;
    padding-left: 70px;
    padding-right: 70px
}

.ngdialog.default .ngdialog-content .ngdialog-close {
    top: 14px;
    right: 14px;
    background: url(../images/jlt.png) 0 -41px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block
}
.ngdialog.default .ngdialog-close {
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0
}

.ngdialog.default{padding-top: 15%;}

.friend_item.active{
	background: #3b4047;
}

pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: initial;
}

/*@media (max-width: 1000px),(max-height:800px) {
    .main {
        padding-top:0;
        height: 100%
    }

    .main .copyright {
        display: none
    }
}
*/


.content_scroll {
    padding-top: 10px;
}