.app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.menu {
    flex: 1;
    overflow-y: auto;
    max-width: 82px;
    background-color: #f5f5f4;
}

.menu .ant-menu-item {
    height: 60px;
    background-color: #f5f5f4;
}
.menu .ant-menu-item .anticon {
    font-size: 32px;
    padding-top: 12px;
}

.pageContent {
    flex: 1;
    overflow: hidden;
}

.wechat {
    display: flex;
}

.wechat_users {
    border-right: 1px solid #e9e9e9;
}

.wechat_users img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-right: 5px;
    padding: 4px;
}

.wechat_users .ant-badge-dot {
    top: 0;
    right: 1px;
}
.wechat_users .ant-menu-item {
    padding-left: 5px !important;
    display: flex;
    font-size: 16px;
    height: 60px;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}
.wechat_users .ant-menu-inline > .ant-menu-item {
    padding: 0;
}

.wechat .wechat_contacts {
    width: 200px;
    border-right: 1px solid #e9e9e9;
}

.wechat .wechat_contacts .ant-tabs-tab{
    width: 99px;
    text-align: center;
    margin-right: 0;
}

.wechat .wechat_contacts .ant-menu-item-group-title {
    background: rgb(249, 245, 245);
}
.wechat .wechat_contacts .anticon.anticon-close {
    position: absolute;
    padding: 15px;
    left: 155px;
}

.wechat .wechat_contacts .ant-tabs-bar {
    margin-bottom: 0;
}

.wechat .wechat_contacts .ant-tabs {
    -webkit-user-select: none;
    user-select: none;
}

.wechat .wechat_contacts .ant-table-tbody>tr>td {
    padding: 0;
}
.wechat .wechat_contacts .ant-table-tbody>tr>td>div {
    padding: 16px 8px;
}

.wechat .wechat_contacts .chatting_list .ant-menu-item, .wechat .wechat_contacts .contact_list .ant-menu-item {
    padding-left: 3px !important;
    display: flex;
}

.wechat .wechat_contacts .chatting_list .ant-menu-item img, .wechat .wechat_contacts .contact_list .ant-menu-item img{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin-right: 5px;
    padding: 4px;
}

.wechat .wechat_contacts .chatting_list .ant-badge-dot {
    top: 1px;
    right: 1px;
}

::-webkit-scrollbar {
    height: 0px;
    width: 3px;
    border-right: 1px solid #e9e9e9;
}

::-webkit-scrollbar-thumb {
    background: rgba(16,142,233,0.3);;
    height: 30px;
}

::-webkit-scrollbar-corner {
    background: #e9e9e9;
}
